<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NSS Starter Kit</title>
	<link href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="MusicApp" id="background">  <!-- tells Angular what part of the view is controlled by the app - 'MusicApp' is the name given to the 'module' function in app3.js-->
	<div class="navbar transparent navbar-inverse navbar-fixed-top">
	   <nav class="navbar-inner">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Songster</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/#/songs/list">View Music</a></li>
	        <li><a href="/#/songs/form">Add Music</a></li>
	        <li><input ng-model="query" id="searchBox" type="text" class="form-control" placeholder="Search"></li>
	      </ul>
	    </div>
	    <div id="userInstruction" class="text">Click Title for Song Details</div>
	  </div>
	</nav>
	</div>
	<div id="options" ng-controller="songCtrl">
		<p id="artist">{{songs.repeatSelect}}</p>
	    <select ng-model="songs.repeatSelect" name="artist">
	    	<option value="Choose Artist">Choose Artist</option>
	    	<option ng-repeat="thing in songs" value="{{thing}}"> {{ thing.artist }}</option>
	    </select>

	    <div><a href="#/songs/filter"><button type="button" ng-click="filterSong(thing.artist)">Filter</button></a>
	    </div>
		<select name="album">
	    	<option>Choose Album</option>
	    	<option ng-repeat="thing in songs"> {{ thing.album }}</option>
		</select>
		</div>

	<div ng-view id="results"></div>

	</div>
	<script src="lib/bower_components/angular/angular.min.js"></script>
	<script src="lib/bower_components/angular-route/angular-route.js"></script>
	<script src="lib/bower_components/firebase/firebase.js"></script>
    <script src="lib/bower_components/angularfire/dist/angularfire.js"></script>

	<script src="app/app.js"></script>
	<script src="app/controllers/songCtrl.js"></script>
	<script src="app/controllers/songDetailCtrl.js"></script>
	<script src="app/controllers/songFormCtrl.js"></script>
	<script src="app/controllers/songDeleteCtrl.js"></script>
	<script src="app/controllers/songFilterCtrl.js"></script>
</body>
</html>
