#nav {
	height: 35px;
	border: 2px solid black;
	background-color: #FFB4B0;
}
#options {
	border: 2px solid black;
	background-color: #4DD7fA;
}
#results {
	border: 2px solid black;
	background-color: #FEFAC0;
}
.songFont {
	font-size: 1.65em;
	font-family: Arial;
	color: #785616;
	/*margin-left: 5%;*/
}
.songDetails {
	font-size: .9em;
	font-family: Arial;
}


/*** BEGIN FLEXBOX ***/
/*** BEGIN FLEXBOX ***/

body {
	margin: 3%;
}

.flex-container {
	display: flex;
}

.flex-nav {
	flex: 1 100%;
	position: fixed;
	width: 93.7%;
	margin-top: -8px;

}
.sidebar-left {
	flex-grow: 1;
	margin-top: 30px;
	height: 25em;
}
.sidebar-right {
	flex-grow: 2;
	margin-top: 30px;
	height: 25em;
}

/*** END FLEXBOX ***/
/*** END FLEXBOX ***/



div#results :first-child {
	font-weight: 900;
}
#results blockquote:nth-child(2n+0) {
	/*border: 1px solid black;*/
	background-color: #FFF5EE;
}
#results blockquote:nth-child(2n+1) {
	/*border: 1px solid black;*/
	background-color: #F5FFFA;
}



#spacer {
	margin-top: 700px;
}



